URPOfStudyUWA/.idea/

URPOfStudyUWA/ProjectSettings/ProjectVersion.txt
URPOfStudyUWA/AndroidBuildBaseball/SDKBase/src/main/Il2CppOutputProject/
URPOfStudyUWA/AndroidBuildBaseball/SDKBase/src/main/jniStaticLibs/
URPOfStudyUWA/IOSProject/

URPOfStudyUWA/Assets/LoadResources/Dll/
URPOfStudyUWA/Assets/Graphy*
Temp
TempWorkFile

.DS_Store
*.vsconfig
*.config
*.csproj
*.sln
*.pdb

# 项目相关
URPOfStudyUWA/.vs
URPOfStudyUWA/Obj
URPOfStudyUWA/Temp
URPOfStudyUWA/UserSettings
URPOfStudyUWA/Logs
URPOfStudyUWA/Library
URPOfStudyUWA/Packages/Selenium.WebDriver.ChromeDriver.117.0.5938.14900
URPOfStudyUWA/Packages/Selenium.WebDriver.4.14.0
URPOfStudyUWA/Packages/Selenium.WebDriver.4.14.1
URPOfStudyUWA/Packages/System.Drawing.Common.7.0.0
URPOfStudyUWA/Packages/Newtonsoft.Json.13.0.1

# 排除文件 cookie和密码等

URPOfStudyUWA/Assets/LanHuImporter/Scripts/LanHuImporterSettings.asset
LanHuImporterSettings.asset
LanHuImporterSettings.asset.meta
lanhuCookie.dat
lanhuCookie.dat.meta
URPOfStudyUWA/Assets/Prefab

UnityTeach4_Addressables.rar

URPOfStudyUWA/Out
*.bundle


# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/
.idea/
.vscode/

.DS_Store
=======

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/AssetGraph/AssetBundles/Cache
/[Aa]ssets/AssetGraph/AssetBundles/Cache.meta
/[Aa]ssets/Editor/MVCCache.meta
/[Aa]ssets/Editor/MVCCache
/Assets/[Ss]treamingAssets/
/HybridCLRData
/ServerData
/Assets/LoadResources/Dll
LanguageCache/
Assets/cs-bin.txt
Assets/cs-bin.txt.meta
Assets/Editor/RdCache.asset
Assets/Editor/RdCache.asset.meta
/[Aa]ssets/Editor/AssetLabelsRecordCache.asset
/[Aa]ssets/Editor/AssetLabelsRecordCache.asset.meta
