URPOfStudyUWA/.idea/

URPOfStudyUWA/ProjectSettings/ProjectVersion.txt
URPOfStudyUWA/AndroidBuildBaseball/SDKBase/src/main/Il2CppOutputProject/
URPOfStudyUWA/AndroidBuildBaseball/SDKBase/src/main/jniStaticLibs/
URPOfStudyUWA/IOSProject/

URPOfStudyUWA/Assets/LoadResources/Dll/
URPOfStudyUWA/Assets/Graphy*
Temp
TempWorkFile

.DS_Store
*.vsconfig
*.config
*.csproj
*.sln
*.pdb

# 项目相关
URPOfStudyUWA/.vs
URPOfStudyUWA/Obj
URPOfStudyUWA/Temp
URPOfStudyUWA/UserSettings
URPOfStudyUWA/Logs
URPOfStudyUWA/Library
URPOfStudyUWA/Packages/Selenium.WebDriver.ChromeDriver.117.0.5938.14900
URPOfStudyUWA/Packages/Selenium.WebDriver.4.14.0
URPOfStudyUWA/Packages/Selenium.WebDriver.4.14.1
URPOfStudyUWA/Packages/System.Drawing.Common.7.0.0
URPOfStudyUWA/Packages/Newtonsoft.Json.13.0.1

# 排除文件 cookie和密码等

URPOfStudyUWA/Assets/LanHuImporter/Scripts/LanHuImporterSettings.asset
LanHuImporterSettings.asset
LanHuImporterSettings.asset.meta
lanhuCookie.dat
lanhuCookie.dat.meta
URPOfStudyUWA/Assets/Prefab

UnityTeach4_Addressables.rar

URPOfStudyUWA/Out
*.bundle